<!-- Header -->
<section id="{{#unless homePage}}page-{{/unless}}header">

  {{#if homePage}}
  <nav>
    <ul class="actions">
        <li><a href="{{#unless homePage}}/blog/{{else}}#first" class="scrolly{{/unless}}">blog</a></li>
        <li><a href="{{#unless homePage}}/about/{{else}}#intro" class="scrolly{{/unless}}">about</a></li>
        <li><a href="{{#unless homePage}}/{{/unless}}#contact" class="scrolly">contact</a></li>
    </ul>
  </nav>
  {{/if}}

  <header>
    {{#with page}}
      <p>{{#if markdown}}Blog{{else}}{{title}}{{/if}}</p>
    {{/with}}
    <h1><a href="/">{{name}}</a></h1>
    <p>{{description}}</p>
    <ul class="icons">
        <li><a href="https://github.com/nason" class="icon-git"></a></li>
        <li><a href="https://linkedin.com/in/michaelnason" class="icon-linkedin"></a></li>
        <li><a href="#contact" class="icon-mail scrolly"></a></li>
    </ul>
  </header>

  {{#if homePage}}
  <footer>
    <a href="#intro" class="button style2 scrolly"><strong>Proceed</strong> &crarr;</a>
  </footer>
  {{/if}}

</section>