{{> html}}
	<main id="blog">
		{{> header}}

		<!-- Blog Header -->
		<article class="container box style2">
				<header>
						<h2>Blog</h2>
						{{! TODO: Add Page X of N}}
				</header>
		</article>

		<!-- Blog Posts -->
		<article class="container box style3">
			{{#each articles}}
			<section>
				<header>
					<h2><a href="{{url}}">{{title}}</a></h2>
					<p class="date"><span>{{date metadata.date}}</span></p>
				</header>
				<section>
					{{{typogr intro}}}
					{{#if hasMore}}
						<p class="more"><a href="{{url}}">Continue reading &rarr;</a></p>
					{{/if}}
				</section>
			</section>
			<hr />
			{{/each}}

			<footer>
				<nav class="nav">
					{{#if prevPage}}
						<div class="newer">
							<a href="{{prevPage.url}}">Newer » </a>
						</div>
					{{/if}}
					{{#if nextPage}}
						<div class="older">
							<a href="{{nextPage.url}}"> « Older</a>
						</div>
					{{/if}}
				</nav>
			</footer>

		</article>
		{{> footer}}
	</main>
{{> close}}